.game-board:not(.invisible) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  max-width: 500px;
}

.board-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba( 255 255 255 / 18% );

  &:last-of-type {
    border-bottom: none;
  }
}

.board-cell {
  flex: 1 1 0;
  aspect-ratio: 1;
  border-right: 1px solid rgba( 255 255 255 / 18% );

  &:last-of-type {
    border-right: none;
  }
}

.win-card,
.loss-card {
  font-size: 80px;
}
