.game-board:not(.invisible) {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .game-board:not(.invisible) {
    max-width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .game-board:not(.invisible) {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1000px) {
  .game-board:not(.invisible) {
    max-width: 900px;
  }
}

.board-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.board-body {
  font-size: initial;
}

.board-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgba( 255 255 255 / 18% );

  &:last-of-type {
    border-bottom: none;
  }
}

.board-cell {
  flex: 1 1 0;
  aspect-ratio: 1;
  border-right: 1px solid rgba( 255 255 255 / 18% );

  &:last-of-type {
    border-right: none;
  }
}
