.game-tile {
  width: 98%;
  height: 98%;
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;

  &.opened-tile {
    background: radial-gradient(circle, rgba(255 255 255 / 100%) -50%, rgba(255 255 255 / 0%) 70%);
  }
}

svg {
  width: 100%;
  height: 100%;
}
