.ftpr-app {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.game-btn,
.game-input,
.game-select {
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: calc(10px + 1.4vmin);
}

.game-btn {
  cursor: pointer;
}

.green-btn {
  background-color: greenyellow;
}

.blue-btn {
  background-color: lightskyblue;
}

.card {
  background: rgba( 255 255 255 / 25% );
  box-shadow: 0 8px 32px 0 rgba( 31 38 135 / 37% );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255 255 255 / 18% );
}

.invisible {
  display: none;
}

.win-card,
.loss-card {
  font-size: 80px;
  padding-top: 50px;
}
