.settings-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1em;
  padding: 20px;
  max-width: 500px;
}

.form-line {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5em;
  width: 100%;

  label {
    text-align: left;
  }
}
